@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: rgb(230, 230, 230);

  font-size: 16;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: gray;
}

.Avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 12px -8px 10px rgba(0, 0, 0, 0.25);
}

.info {
  display: flex;
  margin-bottom: 30px;
}
.text-info{
  margin-left: 50px;
}
.text-info h1{
  margin-bottom: 10px;
}

.info p {
  color: rgb(128, 128, 128);
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /*text-transform: none;*/
  /*letter-spacing: 15px;*/
  /* word-spacing: 15px; */
}

 /* box model */ 
 .container { 
 max-width: 750px;
  margin: auto;
}

/* .social {
  background: rgb(43, 174, 226);
  padding: 15px; */ 

/* margin: 20px; */
/* margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 14px;
  margin-right: 14px;
  border: 5px solid red;
  border-top-style: dotted;
  border-bottom-width:15px;
  border-left-color: black ;
  border-right-color: black ;
} */
/* .box-model > div{
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;

} */

.bg-one {
  background: rgb(238, 189, 125);
}

.bg-two {
  background: rgb(171, 228, 155);
}

.bg-three {
  background: rgb(93, 157, 214);
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;

}

.list {
    padding: 20px;
}

.list li{
    color: gray;
    margin-bottom: 10px;
}

.table{
    width: 100%;
}
.table td {
    padding: 20px;
}

.temp td:nth-child(2),
.temp td:nth-child(3){
    color: rgb(116, 116, 116);
}

/* .table tr:nth-child(odd){
    background: red;
} */

.list-link{
    list-style: 0px;
    padding: 0%;
}

.list-link li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid wheat;
}

.contact h3{
    text-align: center;
}


.form-group label{

  display:block ;
  font-size: 14px;
  color: grey;
}
.form-group{
  
  outline: none;
}
.form-group input,
.form-group textarea{
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; */
  border-bottom: 1px solid gray;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
font-family: inherit;
}



.row{
  display: flex;
  margin-bottom: 20px;
}
.row > .form-group{
  width: 50%;

}
.row > .form-group:first-child{
  margin-right: 20px;
}

.btn {
  background: #111;
  padding: 10px 20px;
color: #fff;
border: none;
font-family: inherit ;
cursor: pointer;
}

.btn:hover{
  opacity: 0.9;
}